In [1]:
import numpy as np
import pandas as pd
import re
import warnings
warnings.filterwarnings('ignore')

In [2]:
all_shutoffs = pd.read_csv(
    '../data/processed/temp-shutoffs.csv', index_col=0, dtype=str
)
nonmissing = all_shutoffs[~all_shutoffs.zip_code.isnull()]
nonmissing.deenergize_time = nonmissing.deenergize_time.\
    apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S'))
nonmissing.restoration_time = nonmissing.restoration_time.\
    apply(lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S'))
updated_missing = pd.read_csv(
    '../data/processed/updated-missing-zips.csv', index_col=0, dtype=str
).set_index('index')
updated_missing.longitude = updated_missing.longitude.\
    apply(lambda x: -float(re.sub('W', '', x)))
updated_missing.latitude = updated_missing.latitude.\
    apply(lambda x: float(re.sub('N', '', x)))
updated_missing.deenergize_time = updated_missing.deenergize_time.\
    apply(lambda x: pd.to_datetime(x, format='%m/%d/%y %H:%M'))
updated_missing.restoration_time = updated_missing.restoration_time.\
    apply(lambda x: pd.to_datetime(x, format='%m/%d/%y %H:%M'))

In [3]:
psps_shutoffs = pd.concat([nonmissing, updated_missing]).reset_index(drop=True)
psps_shutoffs['substn_present'] = psps_shutoffs['Substation Name'] != 'MISSING'
psps_shutoffs.drop(columns='Substation Name', inplace=True)

In [4]:
for col in ['time_out_min','hftd_tier', 'total_affected',  
            'residential_affected', 'longitude', 'latitude']:
    psps_shutoffs[col] = psps_shutoffs[col].astype(float)

In [5]:
census_data = pd.read_csv('../data/raw/2020-population.csv')
census_data = census_data[
    [column for column in census_data.columns if re.search('E$', column)]
]
census_pop = census_data[['NAME', 'DP05_0001E', 'DP05_0018E', 'DP05_0037E']] # ZCTA, total population cols, median age, white population
census_pop.columns = ['name', 'total_pop', 'median_age', 'white_pop']
census_pop.drop(index=0, inplace=True)
census_pop['ZCTA'] = [re.findall('\d{5}', obs)[0] for obs in census_pop.name]

income_data = pd.read_csv('../data/raw/2020-median-income.csv')
census_income = income_data[['NAME', 'S1901_C01_012E']] # ZCTA, median HH income
census_income.columns = ['name', 'median_income']
census_income.drop(index=0, inplace=True)
census_income['ZCTA'] = [re.findall('\d{5}', obs)[0] for obs in census_income.name]

census_pop_income = pd.merge(census_pop, census_income, how='inner', on='ZCTA')

zip_zcta = pd.read_excel(
    '../data/raw/zip-code-zcta.xlsx', dtype='str'
)[['ZIP_CODE', 'ZCTA']]

def convert_to_float(x):
    if type(x) == str:
        return re.sub('[+,-]*', '', x) if x != '-' else 'nan'
    return x
# Join the two data sets
zip_census = pd.merge(census_pop_income, zip_zcta, how='inner', on='ZCTA')
for col in ['total_pop', 'median_age', 'white_pop', 'median_income']:
    zip_census[col] = zip_census[col].apply(convert_to_float).astype(float)
zip_census['white_pct'] = zip_census.white_pop / zip_census.total_pop

In [6]:
zip_census

,name_x,total_pop,median_age,white_pop,ZCTA,name_y,median_income,ZIP_CODE,white_pct
0,ZCTA5 00601,16773.0,42.9,12235.0,00601,ZCTA5 00601,14398.0,00601,0.729446
1,ZCTA5 00602,37083.0,43.6,28378.0,00602,ZCTA5 00602,16771.0,00602,0.765256
2,ZCTA5 00603,45652.0,43.2,35612.0,00603,ZCTA5 00603,15786.0,00603,0.780075
3,ZCTA5 00603,45652.0,43.2,35612.0,00603,ZCTA5 00603,15786.0,00604,0.780075
4,ZCTA5 00603,45652.0,43.2,35612.0,00603,ZCTA5 00603,15786.0,00605,0.780075
...,...,...,...,...,...,...,...,...,...
41045,ZCTA5 99923,12.0,NaN,12.0,99923,ZCTA5 99923,NaN,99923,1.000000
41046,ZCTA5 99925,990.0,43.5,479.0,99925,ZCTA5 99925,63125.0,99925,0.483838
41047,ZCTA5 99926,1582.0,36.1,174.0,99926,ZCTA5 99926,58000.0,99926,0.109987
41048,ZCTA5 99927,0.0,NaN,0.0,99927,ZCTA5 99927,NaN,99927,NaN
41049,ZCTA5 99929,2509.0,47.7,1635.0,99929,ZCTA5 99929,58542.0,99929,0.651654

In [7]:
shutoffs_pop = pd.merge(
    psps_shutoffs, zip_census[
        ['ZIP_CODE', 'total_pop', 'median_age', 'median_income', 'white_pct']
    ],
    how='left', left_on='zip_code', right_on='ZIP_CODE'
).drop(columns='ZIP_CODE')
shutoffs_pop.to_csv('../data/processed/processed-shutoffs.csv', index=False)
shutoffs_pop

,circuit_name,deenergize_time,restoration_time,time_out_min,key_communities,hftd_tier,total_affected,residential_affected,zip_code,longitude,latitude,substn_present,total_pop,median_age,median_income,white_pct
0,APPLE HILL-1103,2018-10-14 21:00:00,2018-10-15 16:29:00,1169.0,"Camino, Placerville",3.0,1809.0,1488.0,95709,-120.677165,38.739683,True,5634.0,50.9,71659.0,0.941605
1,APPLE HILL-1104,2018-10-14 21:17:00,2018-10-15 18:37:00,1280.0,"Camino, Placerville, Pollock Pines,",3.0,2261.0,2043.0,95709,-120.677165,38.739683,True,5634.0,50.9,71659.0,0.941605
2,APPLE HILL-2102,2018-10-14 21:05:00,2018-10-16 18:04:00,2699.0,"Camino, Grizzly Flats, Mount Aukum, Placervill...",3.0,4489.0,4013.0,95709,-120.677165,38.739683,True,5634.0,50.9,71659.0,0.941605
3,BONNIE NOOK-1102,2018-10-14 21:54:00,2018-10-15 18:04:00,1210.0,Alta,3.0,533.0,454.0,95701,-120.809292,39.214708,True,1064.0,58.2,85294.0,0.922932
4,CALISTOGA-1101,2018-10-14 20:34:00,2018-10-15 21:27:00,1493.0,Calistoga,3.0,1596.0,1216.0,94515,-122.578610,38.592088,True,7525.0,47.7,85263.0,0.791894
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2132,VACA DIXON,2021-08-17 18:26:00,2021-08-18 16:36:00,1330.0,SOLANO,2.0,384.0,336.0,95687,-121.935900,38.328600,False,69073.0,38.0,92653.0,0.611860
2133,SCE TEHACHAPI,2021-09-21 01:09:00,2021-09-21 16:06:00,897.0,KERN,2.0,3.0,2.0,93561,-118.439700,35.077600,False,35133.0,41.0,65401.0,0.822702
2134,VACA DIXON,2021-10-11 07:01:00,2021-10-12 14:58:00,1917.0,SOLANO,2.0,6.0,4.0,95687,-121.935900,38.328600,False,69073.0,38.0,92653.0,0.611860
2135,VACA DIXON,2021-10-11 07:33:00,2021-10-12 14:31:00,1858.0,SOLANO,2.0,61.0,54.0,95687,-121.935900,38.328600,False,69073.0,38.0,92653.0,0.611860
2136,SCE TEHACHAPI,2021-10-15 01:16:00,2021-10-15 14:26:00,790.0,KERN,2.0,3.0,2.0,93561,-118.439700,35.077600,False,35133.0,41.0,65401.0,0.822702