In [1]:
import pandas as pd
import re

In [51]:
substations = pd.read_csv('../data/California_Electric_Substations.csv',
                          usecols=['Name', 'ZIP_CODE', 'COUNTY'])
pge_substations = substations.sort_values('Name').reset_index(drop=True)
pge_substations[pge_substations.Name == 'Rock Creek']

            Name  ZIP_CODE         COUNTY
2537  Rock Creek     95915  Plumas County

In [77]:
def clean_df(file_path):
    psps = pd.read_csv(file_path)
    if 'Distribution / Transmission' in psps.columns:
        psps['Distribution / Transmission'] = [
            x.upper() for x in psps['Distribution / Transmission']
        ]
        psps = psps[psps['Distribution / Transmission'] == 'DISTRIBUTION']
        psps.drop(columns='Distribution / Transmission', inplace=True)
    cleaned_circuit = [
        re.findall('.*?(?=\s\d{4,}\*?)', circuit)[0].strip()
        for circuit in psps['Circuit Name']
    ]
    psps['Circuit Name'] = cleaned_circuit
    return psps

In [81]:
file_names = ['../data/PSPS-{}-circuits.csv'.format(dt) for dt in ['01.19.21', '08.17.21', '09.20.21', '10.11.21', '10.14.21']]
file_names
data = [clean_df(file) for file in file_names]

In [83]:
data[0]

,Circuit Name,De-Energization Date and Time (PDT),Restoration Date and Time (PDT),Counties,HFTD Tier(s),Total Customers,Residential Customers,Commercial / Industrial Customers,Medical Baseline Customers,Other Customers
0,AUBERRY,1/19/2021 01:06,1/20/2021 12:55,"AUBERRY, SHAVER\r\nLAKE, TOLLHOUSE","Tier 3, Tier\r\n2",923,827,94,61,2
1,BALCH NO 1,1/19/2021 05:53,1/20/2021 09:32,FRESNO,Tier 2,25,13,12,1,0
2,CAL WATER,1/19/2021 06:49,1/20/2021 08:00,BAKERSFIELD,"Partially\r\nOutside\r\nHFTD, Tier\r\n2",13,0,10,0,3
3,DUNLAP,1/19/2021 05:46,1/20/2021 16:20,"BADGER, KINGS\r\nCANYON,\r\nMIRAMONTE","Partially\r\nOutside\r\nHFTD, Tier\r\n2",663,597,56,28,10
4,DUNLAP,1/19/2021 02:46,1/20/2021 16:47,"DUNLAP, HUME,\r\nKINGS CANYON,\r\nMIRAMONTE",Tier 2,477,407,65,19,5
5,LAMONT,1/19/2021 06:43,1/20/2021 08:18,BAKERSFIELD,Tier 2,5,0,5,0,0
6,MARIPOSA,1/19/2021 00:09,1/26/2021 16:10,MARIPOSA,"Tier 3, Tier\r\n2",1363,1281,79,115,3
7,MARIPOSA,1/19/2021 00:24,1/24/2021 14:02,MARIPOSA,Tier 2,81,77,3,6,1
8,MESA,1/19/2021 08:14,1/20/2021 10:50,"ARROYO GRANDE,\r\nNIPOMO","Partially\r\nOutside\r\nHFTD, Tier\r\n3, Tier 2",85,65,14,4,6
9,OAKHURST,1/18/2021 23:46,NaN,"FISH CAMP,\r\nOAKHURST,\r\nWAWONA,\r\nYOSEMITE...","Tier 3, Tier\r\n2",703,609,94,12,0
10,SAN JOAQUIN #3,1/19/2021 00:23,1/21/2021 17:32,NORTH FORK,Tier 2,75,73,2,3,0
11,SAN JOAQUIN #3,1/18/2021 23:02,1/23/2021 17:40,NORTH FORK,Tier 3,149,144,5,13,0
12,SAND CREEK,1/19/2021 05:57,1/19/2021 16:39,BADGER,Tier 2,161,127,29,3,5
13,SANTA MARIA,1/19/2021 08:10,1/20/2021 09:44,"NIPOMO, SANTA\r\nMARIA","Partially\r\nOutside\r\nHFTD, Tier\r\n3, Tier 2",202,160,22,6,20
14,SCE TEHACHAPI,1/19/2021 02:36,1/20/2021 09:16,TEHACHAPI,Tier 2,3,2,1,0,0
15,SISQUOC,1/19/2021 08:06,1/20/2021 09:41,SANTA MARIA,"Partially\r\nOutside\r\nHFTD, Tier\r\n3, Tier 2",154,119,24,1,11
16,SO. CAL. EDISON #3,1/19/2021 01:13,1/20/2021 11:39,NORTH FORK,"Tier 3, Tier\r\n2",15,14,1,2,0
17,TEJON,1/19/2021 06:52,1/20/2021 08:30,ARVIN,Tier 2,2,0,2,0,0

In [2]:
pd.read_csv('../data/PSPS-01.19.21-circuits.csv')

,Circuit Name,De-Energization Date and Time (PDT),Restoration Date and Time (PDT),Counties,HFTD Tier(s),Total Customers,Residential Customers,Commercial / Industrial Customers,Medical Baseline Customers,Other Customers
0,AUBERRY 1101*,1/19/2021 01:06,1/20/2021 12:55,"AUBERRY, SHAVER\rLAKE, TOLLHOUSE","Tier 3, Tier\r2",923,827.0,94.0,61.0,2.0
1,BALCH NO 1 1101*,1/19/2021 05:53,1/20/2021 09:32,FRESNO,Tier 2,25,13.0,12.0,1.0,0.0
2,CAL WATER 1102*,1/19/2021 06:49,1/20/2021 08:00,BAKERSFIELD,"Partially\rOutside\rHFTD, Tier\r2",13,0.0,10.0,0.0,3.0
3,DUNLAP 1102*,1/19/2021 05:46,1/20/2021 16:20,"BADGER, KINGS\rCANYON,\rMIRAMONTE","Partially\rOutside\rHFTD, Tier\r2",663,597.0,56.0,28.0,10.0
4,DUNLAP 1103*,1/19/2021 02:46,1/20/2021 16:47,"DUNLAP, HUME,\rKINGS CANYON,\rMIRAMONTE",Tier 2,477,407.0,65.0,19.0,5.0
5,LAMONT 1102*,1/19/2021 06:43,1/20/2021 08:18,BAKERSFIELD,Tier 2,5,0.0,5.0,0.0,0.0
6,MARIPOSA 2101*,1/19/2021 00:09,1/26/2021 16:10,MARIPOSA,"Tier 3, Tier\r2",1363,1281.0,79.0,115.0,3.0
7,MARIPOSA 2102*,1/19/2021 00:24,1/24/2021 14:02,MARIPOSA,Tier 2,81,77.0,3.0,6.0,1.0
8,MESA 1101*,1/19/2021 08:14,1/20/2021 10:50,"ARROYO GRANDE,\rNIPOMO","Partially\rOutside\rHFTD, Tier\r3, Tier 2",85,65.0,14.0,4.0,6.0
9,OAKHURST 1103*,1/18/2021 23:46,NaN,"FISH CAMP,\rOAKHURST,\rWAWONA,\rYOSEMITE\rNATI...","Tier 3, Tier\r2",703,609.0,94.0,12.0,0.0
10,SAN JOAQUIN #3\r1101*,1/19/2021 00:23,1/21/2021 17:32,NORTH FORK,Tier 2,75,73.0,2.0,3.0,0.0
11,SAN JOAQUIN #3\r1103*,1/18/2021 23:02,1/23/2021 17:40,NORTH FORK,Tier 3,149,144.0,5.0,13.0,0.0
12,SAND CREEK 1103*,1/19/2021 05:57,1/19/2021 16:39,BADGER,Tier 2,161,127.0,29.0,3.0,5.0
13,SANTA MARIA 1108*,1/19/2021 08:10,1/20/2021 09:44,"NIPOMO, SANTA\rMARIA","Partially\rOutside\rHFTD, Tier\r3, Tier 2",202,160.0,22.0,6.0,20.0
14,SCE TEHACHAPI 1101*,1/19/2021 02:36,1/20/2021 09:16,TEHACHAPI,Tier 2,3,2.0,1.0,0.0,0.0
15,SISQUOC 1103*,1/19/2021 08:06,1/20/2021 09:41,SANTA MARIA,"Partially\rOutside\rHFTD, Tier\r3, Tier 2",154,119.0,24.0,1.0,11.0
16,SO. CAL. EDISON #3\r1101*,1/19/2021 01:13,1/20/2021 11:39,NORTH FORK,"Tier 3, Tier\r2",15,14.0,1.0,2.0,0.0
17,TEJON 1103*,1/19/2021 06:52,1/20/2021 08:30,ARVIN,Tier 2,2,0.0,2.0,0.0,0.0
18,Total,"5,099","4,515",518,274,66,NaN,NaN,NaN,NaN

In [55]:
aug_17 = pd.read_csv('../data/PSPS-08.17.21-circuits.csv')
aug_17 = aug_17[aug_17['Distribution / Transmission'] == 'DISTRIBUTION']
aug_17

,Distribution / Transmission,Circuit Name,De-Energization Date and Time (PDT),Restoration Date and Time (PDT),Counties,HFTD Tier(s),Total Customers,Residential Customers,Commercial / Industrial Customers,Medical Baseline Customers,Other Customers
0,DISTRIBUTION,ANDERSON 1101*,17/8/21 18:04,18/8/21 20:11,SHASTA,"Partially Outside HFTD, Tier 2",460,361,96,33,3
1,DISTRIBUTION,ANDERSON 1103*,17/8/21 18:50,18/8/21 20:40,SHASTA,"Partially Outside HFTD, Tier 2",68,63,2,7,3
2,DISTRIBUTION,ANTLER 1101*,17/8/21 18:21,18/8/21 17:19,SHASTA,"Partially Outside HFTD, Tier 3, Tier 2",346,307,32,30,7
3,DISTRIBUTION,ARBUCKLE 1101*,17/8/21 18:34,18/8/21 16:14,COLUSA,Outside HFTD,3,2,0,0,1
4,DISTRIBUTION,ARBUCKLE 1104*,17/8/21 18:33,18/8/21 16:45,"YOLO, COLUSA","Partially Outside HFTD, Tier 2",12,8,3,0,1
...,...,...,...,...,...,...,...,...,...,...,...
91,DISTRIBUTION,VACAVILLE 1108*,17/8/21 18:28,19/8/21 09:36,SOLANO,"Partially Outside HFTD, Tier 2",295,212,63,18,20
92,DISTRIBUTION,VOLTA 1101,17/8/21 18:20,19/8/21 16:28,"SHASTA, TEHAMA","Partially Outside HFTD, Tier 3, Tier 2",1126,927,165,69,34
93,DISTRIBUTION,VOLTA 1102,17/8/21 18:23,19/8/21 18:27,SHASTA,"Partially Outside HFTD, Tier 3, Tier 2",2584,2393,180,242,11
94,DISTRIBUTION,WHITMORE 1101*,17/8/21 18:43,18/8/21 19:00,SHASTA,"Tier 3, Tier 2",271,241,25,19,5
95,DISTRIBUTION,WILDWOOD 1101*,17/8/21 17:44,18/8/21 21:45,"SHASTA, TEHAMA",Tier 2,6,3,3,0,0

In [4]:
census_data = pd.read_csv('../data/ACSDP5Y2020.DP05-Data.csv')
census_data = census_data[
    [column for column in census_data.columns if re.search('E$', column)]
]
census_pop = census_data[['NAME', 'DP05_0001E']] # ZCTA, total population cols
census_pop.columns == ['name', 'total_pop']
census_pop.drop(index=0, inplace=True)
census_pop['ZCTA'] = [re.findall('\d{5}', obs)[0] for obs in census_pop.NAME]
census_pop

/var/folders/0r/9j2372ls7vn11kndzp1l66m40000gn/T/ipykernel_1500/75340019.py:1: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,114,115,116,117,118,119,120,121,122,123,124,125,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,361,454,455,470,473,486,489,606,607,634,637,702,703) have mixed types. Specify dtype option on import or set low_memory=False.
  census_data = pd.read_csv('../data/ACSDP5Y2020.DP05-Data.csv')
/var/folders/0r/9j2372ls7vn11kndzp1l66m40000gn/T/ipykernel_1500/75340019.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  census_pop.drop(index=0, inplace=True)
/var/folders/0r/9j2372ls7vn11kndzp1l66m40000gn/T/ipykernel_1500/75340019.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  census_pop['ZCTA'] = [re.findall('\d{5}', obs)[0] for obs in census_pop.NAME]

              NAME DP05_0001E   ZCTA
1      ZCTA5 00601      16773  00601
2      ZCTA5 00602      37083  00602
3      ZCTA5 00603      45652  00603
4      ZCTA5 00606       6231  00606
5      ZCTA5 00610      26502  00610
...            ...        ...    ...
33116  ZCTA5 99923         12  99923
33117  ZCTA5 99925        990  99925
33118  ZCTA5 99926       1582  99926
33119  ZCTA5 99927          0  99927
33120  ZCTA5 99929       2509  99929

[33120 rows x 3 columns]

In [5]:
zip_zcta = pd.read_excel(
    '../data/zip-code-zcta.xlsx', dtype='str'
)[['ZIP_CODE', 'ZCTA']]
zip_zcta

      ZIP_CODE   ZCTA
0        00501  11742
1        00544  11742
2        00601  00601
3        00602  00602
4        00603  00603
...        ...    ...
41086    99926  99926
41087    99927  99927
41088    99928  99901
41089    99929  99929
41090    99950  99921

[41091 rows x 2 columns]

In [10]:
zip_census = pd.merge(census_pop, zip_zcta, how='inner', on='ZCTA')
zip_census.head(30)

           NAME DP05_0001E   ZCTA ZIP_CODE
0   ZCTA5 00601      16773  00601    00601
1   ZCTA5 00602      37083  00602    00602
2   ZCTA5 00603      45652  00603    00603
3   ZCTA5 00603      45652  00603    00604
4   ZCTA5 00603      45652  00603    00605
5   ZCTA5 00606       6231  00606    00606
6   ZCTA5 00610      26502  00610    00610
7   ZCTA5 00612      58771  00612    00612
8   ZCTA5 00612      58771  00612    00613
9   ZCTA5 00612      58771  00612    00614
10  ZCTA5 00616       9688  00616    00616
11  ZCTA5 00617      23771  00617    00617
12  ZCTA5 00622       6505  00622    00622
13  ZCTA5 00623      41472  00623    00623
14  ZCTA5 00624      21031  00624    00624
15  ZCTA5 00627      31066  00627    00627
16  ZCTA5 00631       1481  00631    00631
17  ZCTA5 00637      21957  00637    00637
18  ZCTA5 00638      16018  00638    00638
19  ZCTA5 00641      26383  00641    00611
20  ZCTA5 00641      26383  00641    00641
21  ZCTA5 00646      36538  00646    00646
22  ZCTA5 00647       5708  00647    00647
23  ZCTA5 00650      13869  00650    00650
24  ZCTA5 00652       3624  00652    00652
25  ZCTA5 00653      10117  00653    00653
26  ZCTA5 00656      17984  00656    00656
27  ZCTA5 00659      39561  00659    00659
28  ZCTA5 00660      15731  00660    00660
29  ZCTA5 00662      39017  00662    00662